# Warcharr details
SITE=https://your_public_watcher_url
INTERNAL_URL=your_internal_watcher_url:port
LOGIN_USER=user_name
LOGIN_PASSWORD=password

# Redirect details
LOCATION=/13903f6edcefbc0529abf875488b3987
PORT=3000

# URL Structure
#[SITE][LOCATION]:[PORT]